.projectbutton {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #4d90fe;
}

.doublebutton + .doublebutton {
  margin-left: 2%; // added space between the two buttons
}
.doublebutton {
  width: 49%; // so that the div takes available width
}
